apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus
    url: http://prometheus:9090
    access: proxy
    isDefault: true
    editable: true

  - name: Tempo
    type: tempo
    uid: tempo
    url: http://tempo:3200
    access: proxy
    basicAuth: false

  - name: Loki
    type: loki
    uid: loki
    url: http://loki:3100
    access: proxy
    jsonData:
      derivedFields:
        - datasourceUid: tempo
          matcherRegex: "trace_id=(\\w+)"
          name: TraceID
          url: "$${__value.raw}"

#  - name: CloudWatch
#    type: cloudwatch
#    uid: cloudwatch
#    jsonData:
#      # 'default' = EC2 인스턴스에 부여된 IAM Role을 자동으로 사용
#      authType: default
#      defaultRegion: ap-northeast-2