global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - "/etc/prometheus/rules/*.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - "alertmanager:9093"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: [ 'localhost:9090' ]

  # AWS CloudWatch Metrics (via YACE) (CloudWatch API 비용 절감을 위해 scrape_interval을 5분(300s)으로 설정)
  - job_name: 'yace-cloudwatch'
    scrape_interval: 300s
    static_configs:
      - targets: ['yace:5000']

  # MSA 서비스 자동 스크래핑 (AWS ECS Discovery 연동)
  - job_name: 'ecs-services'
    file_sd_configs:
      - files:
          - /etc/prometheus/targets/targets.yml
    metrics_path: '/actuator/prometheus'

    # 파일 기반 discovery에 맞는 라벨링 규칙
    relabel_configs:
      # 1. targets.yml에 있는 'task_name'을 'job' 라벨로 사용 (이미 job 라벨이 있으면 덮어씌움)
      - source_labels: [task_name]
        target_label: job

      # 2. targets.yml에 있는 'task_arn'에서 ID만 추출해서 'instance'로 사용
      - source_labels: [task_arn]
        regex: 'arn:aws:ecs:.*:.*:task/.*/(.*)'
        target_label: instance
        replacement: '$1'

  - job_name: kafka-exporter
    file_sd_configs:
      - files:
          - /etc/prometheus/targets/kafka.json
        refresh_interval: 1m

  - job_name: kafka-jmx
    file_sd_configs:
      - files:
          - /etc/prometheus/targets/kafka-jmx.json
        refresh_interval: 1m