global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - "/etc/prometheus/rules/*.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - "alertmanager:9093"

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  # AWS CloudWatch Metrics (via YACE) (CloudWatch API 비용 절감을 위해 scrape_interval을 5분(300s)으로 설정)
  - job_name: 'yace-cloudwatch'
    scrape_interval: 300s
    static_configs:
      - targets: ['yace:5000']

  - job_name: "kafka-exporter"
    static_configs:
      - targets:
          - ${KAFKA_BROKER_1}:9308

  - job_name: 'ecs-services'
    file_sd_configs:
      - files:
          - /etc/prometheus/targets/targets.yml
    metrics_path: '/actuator/prometheus'
    relabel_configs:
      - source_labels: [task_name]
        target_label: job

      - source_labels: [task_arn]
        regex: 'arn:aws:ecs:.*:.*:task/.*/(.*)'
        target_label: instance
        replacement: '$1'