version: '3.8'

services:
  # 1. Loki (Logs)
  loki:
    image: grafana/loki:2.9.2
    container_name: loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./loki.yaml:/etc/loki/local-config.yaml
      - ./loki-data:/loki

  # 2. Tempo (Traces)
  tempo:
    image: grafana/tempo:2.3.1
    container_name: tempo
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
      - ./tempo-data:/tmp/tempo/blocks
    ports:
      - "4317:4317"
      - "4318:4318"
      - "3200:3200"

  # 3. Prometheus (Metrics)
  prometheus:
    image: prom/prometheus:v2.51.1
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - ./prometheus/rules:/etc/prometheus/rules
      # ecs-discovery 에서 생성한 타겟 파일(targets.json)을 공유받는 볼륨 (ECS IP/PORT 정보)
      - ./ecs-discovery-output:/etc/prometheus/targets
    depends_on:
      - ecs-discovery

  # 4. Grafana (Dashboard)
  grafana:
    image: grafana/grafana:10.4.1
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - ./grafana/grafana-datasources.yml:/etc/grafana/provisioning/datasources/datasources.yaml # Datasource 설정
      # Dashboard Provider 설정 파일 마운트 (이 파일이 있어야 Grafana가 JSON 파일을 어디서 읽을지 인식 가능)
      - ./grafana/grafana-dashboard-provider.yml:/etc/grafana/provisioning/dashboards/main.yaml
      # 대시보드(JSON) 폴더 통째로 마운트 (./dashboards 폴더를 컨테이너의 /var/lib/grafana/dashboards 로 연결)
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD}
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
      - GF_AUTH_DISABLE_LOGIN_FORM=true
    depends_on:
      - loki
      - tempo
      - prometheus

  # 5. alertmanager
  alertmanager:
    image: prom/alertmanager:v0.27.0
    container_name: alertmanager
    volumes:
      - ./alertmanager/alertmanager.yml:/etc/alertmanager/alertmanager.yml
    ports:
      - "9093:9093"
    command:
      - "--config.file=/etc/alertmanager/alertmanager.yml"


  # 6. ECS Discovery Sidecar (AWS API 기반 ECS IP 수집)
  ecs-discovery:
    image: tkgregory/prometheus-ecs-discovery:latest
    container_name: ecs-discovery
    volumes:
      - ./ecs-discovery-output:/output # 수집된 파일이 저장될 위치 (Prometheus와 공유)
      - ./ecs-discovery-config.yml:/config/config.yml # 수집할 리전/클러스터 설정 파일 마운트
      # EC2 에 설정된 IAM Role을 사용하므로 Key/Secret 불필요
    command:
      - "-config.file=/config/config.yml"
      - "-output.file=/output/targets.json"
      - "-freq=30s" # 30초마다 갱신

  # 7. CloudWatch Exporter (YACE) - AWS 메트릭 수집용 (Prometheus 포맷팅 용)
  yace:
    image:  ghcr.io/nerdswords/yet-another-cloudwatch-exporter:v0.55.0
    container_name: yace
    volumes:
      - ./yace-config.yml:/tmp/config.yml # 아래 3번 항목의 파일 생성 필요
    ports:
      - "5000:5000"
    # EC2 IAM Role을 사용하므로 별도 credential 환경변수 불필요
