version: '3.8'

services:
  loki:
    image: grafana/loki:2.9.2
    container_name: loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    environment:
      # CI에서는 값을 주입받고, EC2에서는 변수 자체가 생성되지 않도록 설정 (IAM Role 우선순위 확보)
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID:-}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY:-}
      - AWS_REGION=ap-northeast-2
    volumes:
      - ./loki.yaml:/etc/loki/local-config.yaml
      - loki-data:/loki

  tempo:
    image: grafana/tempo:2.3.1
    container_name: tempo
    command: [ "-config.file=/etc/tempo.yaml" ]
    environment:
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID:-}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY:-}
      - AWS_REGION=ap-northeast-2
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
      - ./tempo-data:/tmp/tempo
    ports:
      - "4317:4317"
      - "4318:4318"
      - "3200:3200"

  prometheus:
    build:
      context: ./prometheus
    container_name: prometheus
    env_file:
      - .env
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml.tmpl:/etc/prometheus/prometheus.yml.tmpl:ro
      - ./prometheus/rules:/etc/prometheus/rules:ro
      - ./ecs-discovery-output:/etc/prometheus/targets:ro
      - prometheus-data:/prometheus
    entrypoint: ["/bin/sh", "/entrypoint.sh"]
    depends_on:
      - ecs-discovery