global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - "/etc/prometheus/rules/*.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - "alertmanager:9093"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: [ 'localhost:9090' ]

  # AWS CloudWatch Metrics (via YACE) (CloudWatch API 비용 절감을 위해 scrape_interval을 5분(300s)으로 설정)
  - job_name: 'yace-cloudwatch'
    scrape_interval: 300s
    static_configs:
      - targets: ['yace:5000']

  # MSA 서비스 자동 스크래핑 (AWS ECS Discovery 연동)
  - job_name: 'ecs-services'
    file_sd_configs:
      - files:
          - /etc/prometheus/targets/targets.json # 공유 볼륨의 파일 읽기
    metrics_path: '/actuator/prometheus'

    # 메타데이터 활용 라벨 생성 (job, instance)
    relabel_configs:
      # 1. ECS Task Definition Family 이름을 'job' 라벨로 사용
      - source_labels: [__meta_ecs_task_definition_family]
        target_label: job

      # 2. ECS Task ARN의 뒷부분(ID)을 'instance' 라벨로 사용
      - source_labels: [__meta_ecs_task_arn]
        regex: 'arn:aws:ecs:.*:.*:task/.*/(.*)'
        target_label: instance
        replacement: '$1'

      # 3. Docker Label에 'PROMETHEUS_EXPORTER_PORT'가 있는 것만 수집 (Task Definition 에 설정되있어야 정상 동작)
      # Docker Label 'PROMETHEUS_SCRAPE'가 'true'인 것만 수집 (나머지는 Drop)
#      - source_labels: [__meta_ecs_container_labels_PROMETHEUS_SCRAPE]
#        regex: 'true'
#        action: keep