discovery:
  exportedTagsOnMetrics:
    AWS/RDS:
      - DBInstanceIdentifier
    AWS/ElastiCache:
      - CacheClusterId
    AWS/ApplicationELB:
      - TargetGroup

  jobs:
    # 1. ECS Metrics
    - type: AWS/ECS
      regions:
        - ap-northeast-2
      period: 300
      length: 300
      metrics:
        - name: CPUUtilization
          statistics: [ Average ]
        - name: MemoryUtilization
          statistics: [ Average ]

    # 2. RDS Metrics (CPU, FreeStorage)
    - type: AWS/RDS
      regions:
        - ap-northeast-2
      period: 300
      length: 300
      metrics:
        - name: CPUUtilization
          statistics: [Average]
        - name: FreeStorageSpace
          statistics: [Average]

    # 3. ElastiCache (Redis) Metrics (CPU, Evictions)
    - type: AWS/ElastiCache
      regions:
        - ap-northeast-2
      period: 300
      length: 300
      metrics:
        - name: CPUUtilization
          statistics: [Average]
        - name: Evictions
          statistics: [Sum]

    # 4. ALB Target Group Metrics (5xx Errors)
    - type: AWS/ApplicationELB
      regions:
        - ap-northeast-2
      period: 300
      length: 300
      metrics:
        - name: HTTPCode_Target_5XX_Count
          statistics: [Sum]